* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2e2f42;
}
ul {
  list-style: none;
}

.link {
  font-size: 20px;
  padding: 20px;
}
.item-link {
  margin: 20px 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 24px auto;
}
.gallery-item {
  width: 360px;
}
.gallery-link {
  width: 100%;
}
.gallery-image {
  width: 100%;
}

.bg-color {
  background-color: #2e2f42ba;
}

.bg-color > .sl-navigation > .sl-prev,
.bg-color > .sl-navigation > .sl-next,
.sl-wrapper .sl-counter,
.sl-wrapper .sl-close {
  color: #fff;
}

.feedback-form {
  max-width: 408px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 0 auto;
}
.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.feedback-form label input,
.feedback-form label textarea {
  padding: 8px 16px;
  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.feedback-form label input:hover,
.feedback-form label textarea:hover {
  border: 1px solid #000;
}
.feedback-form label textarea {
  max-height: 80px;
}
.feedback-form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 8px;
}
.feedback-form button:hover {
  background: #6c8cff;
}
